* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*On met à 0 pour que la barre de naviation soit bien collée en haut de la page*/
    /*Et le footer en bas */
}

body {
    background-color: rgb(181, 224, 253);
}


                                                /* BARRE DE NAVIGATION */

.navigation {
    text-align: right;
    background-color: white;
}

nav>ul>li {
    display: inline-block;
    list-style: none;
    padding: 8px;
    padding-inline-end: 40px;
    font-size: large;
}

li>a {
    color: black;
    text-decoration: none;
}

.menu_navigation {
    text-align: center;
    background-color: rgb(42, 122, 187);
    padding: 1%;
    margin-bottom: 2%;
}


                                                    /* LOGO */

.logo {
    margin-top: 2%;
    text-align: center;
}

.logo>img {
    max-width: 200px;
    max-width: 200px;
    border-radius: 15px;
    filter: drop-shadow(7px 7px 4px rgb(109, 108, 108))
}

.logo_miniature {
    max-width: 40px;
    max-width: 40px;
    border-radius: 50px;
    filter: drop-shadow(4px 3px 1px rgba(12, 12, 12, 0.445));
    position: absolute;
    left: 5%;
}


                                            /* TEXTES DE DESCRIPTION */

.texte_description_site {
    padding-inline: 15%;
}

.texte_description_site h3,
p {
    margin: 10px;
}

.texte_description_site>h3 {
    text-align: center;
}


/* Vidéo de présentation */

.video_presentation {
    margin-top: 30px;
      text-align: center;
}

.video_presentation>video {
    border: solid 2px black;
    border-radius: 15px;
}



                                            /* OBJETS GRAPHIQUES */

.rectangle_blanc {
    /* Contient le titre et des composants graphiques*/
    margin-top: 2%;
    margin-inline: auto;
    margin-bottom: 5%;
    width: 400px;
    height: 450px;
    max-height: 550px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    filter: drop-shadow(7px 7px 4px rgb(109, 108, 108));
}

.rectangle_blanc>h3 {
    /* Titre des pages */
    padding-top: 10%;
    padding-bottom: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
    /* Est contenu dans le rectangle blanc, et contient les textfields */
    height: 280px;
    width: 75%;
    margin-top: 5%;
    margin-inline: auto;
    /* On aligne l'espacement vertical entre les textfields */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textfield {
    /* Zone de texte pour l'utilisateur */
    border: 0px;
    background-color: rgb(202, 202, 202);
    color: black;
    padding: 5%;
}

.bouton_submit {
    /* Bouton Valider */
    border: 0px;
    border-radius: 15px;
    padding: 15px;
    margin-top: 5%;
    margin-inline: 25%;
    background-color: rgba(253, 54, 54, 0.459);
}

.rectangle_blanc>a {
    /* Oublie de mot de passe */
    position: absolute;
    bottom: 5%;
    left: 5%;
    text-decoration: none;
    color: rgba(4, 139, 139, 0.76);
}



                                            /* FOOTER */

footer {
    margin-top: 50px;
    background-color: rgb(189, 189, 189); 
    display: flex;                              /* Pour mettre les éléments au centre */
    flex-direction: column;
}

footer>p {
    font-size: 10px;
}

.footer-absolute{
    position: absolute;                        /* Pour positionner le footer en bas de la page quand la page n'est pas remplis */
    bottom: 0;
    width: 100%;
}
