* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    /*On met à 0 pour que la barre de naviation soit bien collée en haut de la page*/
    /*Et le footer en bas */
}

body {
    background-color: rgb(181, 224, 253);
    height: 100vh;
    /* Prends toute la hauteur de la page */
    display: flex;
    /* Modifier les dimensions afin de remplir l'espace disponible */
    flex-direction: column;
    /* On met en colonne les éléments contenu dans le body */
}

.contenu {
    /*Contenu de la page*/
    flex: 1;
    /* grow : Grossir jusqu'à prendre tout l'espace disponible */
}


/* BARRE DE NAVIGATION */

.navigation {
    text-align: right;
    background-color: white;
}

nav>ul>li {
    display: inline-block;
    list-style: none;
    padding: 8px;
    padding-inline-end: 40px;
    font-size: large;
}

li>a {
    color: black;
    text-decoration: none;
}

.modules_navigation {
    text-align: center;
    background-color: rgb(42, 122, 187);
    padding: 1%;
    margin-bottom: 2%;
}


/* Logo */

.logo {
    margin-top: 2%;
    text-align: center;
}

.logo>img {
    max-width: 200px;
    max-width: 200px;
    border-radius: 15px;
    filter: drop-shadow(7px 7px 4px rgb(109, 108, 108))
}

.logo_miniature {
    max-width: 40px;
    max-width: 40px;
    border-radius: 50px;
    filter: drop-shadow(4px 3px 1px rgba(12, 12, 12, 0.445));
    position: absolute;
    left: 5%;
}


/* Texte de description */

.texte_description_site {
    padding-inline: 15%;
}

.texte_description_site h3,
p {
    margin: 10px;
}

.texte_description_site>h3 {
    text-align: center;
}

h2,
h4 {
    margin: 2%;
    text-align: center;
}


/* Vidéo de présentation */

.video_presentation {
    padding: 35px;
    padding-bottom: 50px;
    text-align: center;
}

.video_presentation>video {
    border: solid 2px black;
    border-radius: 15px;
    min-height: 200px;
    min-width: 200px;
    max-width: 600px;
    max-height: 300px;
    position: relative;
}


/* footer */

footer {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
    background-color: rgb(189, 189, 189);
    font-size: xx-small;
}


/* objets graphiques */

.rectangle_blanc {
    /* Contient le titre et des composants graphiques*/
    margin-top: 2%;
    margin-inline: auto;
    margin-bottom: 5%;
    width: 400px;
    height: 450px;
    max-height: 550px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    filter: drop-shadow(7px 7px 4px rgb(109, 108, 108));
}

.rectangle_blanc>h3 {
    /* Titre des pages */
    padding-top: 10%;
    padding-bottom: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
    /* Est contenu dans le rectangle blanc, et contient les textfields */
    height: 280px;
    width: 75%;
    margin-top: 5%;
    margin-inline: auto;
    /* On aligne l'espacement vertical entre les textfields */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textfield {
    /* Zone de texte pour l'utilisateur */
    border: none;
    background-color: rgb(202, 202, 202);
    color: black;
    padding: 5%;
}

.bouton_submit {
    /* Bouton Valider */
    border: 0px;
    border-radius: 15px;
    padding: 15px;
    margin-top: 5%;
    margin-inline: 25%;
    background-color: rgba(253, 54, 54, 0.459);
}

.rectangle_blanc>a {
    /* Oublie de mot de passe */
    position: absolute;
    bottom: 5%;
    left: 5%;
    text-decoration: none;
    color: rgba(4, 139, 139, 0.76);
}

.photo_crayon {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 3%;
    bottom: 20%;
}


/* Module de prababilité */

.Module_proba {
    margin: auto;
    width: 600px;
    height: 500px;
    text-align: center;
    margin-top: 5%;
}

.Proba_valeurs table {
    margin: auto;
    width: 75%;
    height: 100px;
    padding-top: 5%;
}

.Proba_valeurs td {
    margin-top: 50%;
}

.Proba_valeurs td:nth-child(2n+1) {
    text-align: right;
    padding-right: 5px;
}

.Proba_valeurs td:nth-child(2n) {
    text-align: left;
}

.Proba_input_text {
    border: none;
    width: 50px;
}

.Proba_Resultat {
    margin: auto;
    margin-top: 20%;
    margin-inline: 5%;
}

.Proba_div_TextArea {
    margin-inline: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Proba_TextArea {
    border: none;
}

.Proba_p {
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}