* {
    /* * = toutes les balises, classe, objets */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Changement de la police de charactères */
    margin: 0;
    /* marge autour de l'objet */
    padding: 0;
    /*On met à 0 pour que la barre de naviation soit bien collée en haut de la page*/
    /*Et le footer en bas */
    /*box-sizing: border-box;*/
}

body {
    background-color: rgb(181, 224, 253);
    /* Change la couleurs de fond */
    height: 100vh;
    /* Prends toute la hauteur de la page */
    display: flex;
    /* Modifier les dimensions afin de remplir l'espace disponible */
    flex-direction: column;
    /* Enfants de la balise alignés en colonne */
}

.contenu {
    /*Contenu de la page*/
    flex: 1;
    /* grow : Grossir jusqu'à prendre toute l'espace disponible */
}


/* BARRE DE NAVIGATION */

.navigation {
    text-align: right;
    /* Alignement du texte à droite */
    background-color: white;
}

nav>ul>li {
    display: inline-block;
    /* Affichage en block sur une ligne */
    list-style: none;
    /* On enleve les points devant le texte des <li> */
    padding: 8px;
    /* Espace entre sa bordure et le texte, toutes directions*/
    padding-inline-end: 40px;
    /* ------------------------------------, en ligne et à la fin (à droite) */
    font-size: large;
    /* Grossir la police */
}

li>a {
    color: black;
    /* Couleur du texte en noire */
    text-decoration: none;
    /* Pas de décoration de texte (par défaut: souligné) */
}

.modules_navigation {
    text-align: center;
    /* Alignement central du texte*/
    background-color: rgb(42, 122, 187);
    padding-top: 1%;
    /* Espace entre la bordure du haut et le texte */
    padding-bottom: 1%;
    /* -------------------------- bas -------------*/
    padding-inline: 12%;
    /* ------------ le texte et les bordures gauche et droite  */
    margin-bottom: 2%;
    /* Marge entre sa bordure du bas et la bordure du bas de la balise, classe parent */
}

.modules_navigation ul {
    /* Position des noms de modules dans la barre de module_navigation */
    display: flex;
    flex-direction: row;
    /* Alignement des enfants en ligne */
    justify-content: space-between;
    /* Même espace écartant les enfants */
    justify-content: space-around;
    /* Même espace entourant les enfants */
}


/* Logo */

.logo{
    /* <div> du logo */
    margin-top: 2%;
    /* marge entre sa bordure du haut et la bordure de la balise, classe parent  */
    text-align: center;
}

.logo>img,.logo>a>img{
    /* Image du logo */
    max-width: 200px;
    /* Largeur maximum 200 pixels */
    max-height: 200px;
    /* Hauteur maximum 200 pixels */
    border-radius: 15px;
    /* Arondissement des bords de 15 pixels */
    filter: drop-shadow(7px 7px 4px rgb(109, 108, 108))
    /* Ombre de decalage-x, decalage-y, rayon-flou, couleur */
}

.logo_miniature {
    max-width: 40px;
    max-width: 40px;
    border-radius: 50px;
    filter: drop-shadow(4px 3px 1px rgba(12, 12, 12, 0.445));
    position: absolute;
    /* Permet de positionner l'élément avec top, right, bottom et left dans son bloc parent */
    left: 5%;
    /* Décalage de 5% en par rapport à la bordure gauche du parent */
}


/* Texte de description */

.texte_description_site {
    padding-inline: 15%;
}

.texte_description_site h3,
p {
    margin: 10px;
}

.texte_description_site>h3 {
    text-align: center;
}

.Titre_module {
    /* Titres des modules */
    text-align: center;
    margin-top: 5%;
}


/* Vidéo de présentation */

.video_presentation {
    /* <div> de la vidéo */
    padding: 35px;
    padding-bottom: 50px;
    text-align: center;
}

.video_presentation>video {
    /* Vidéo */
    border: solid 2px black;
    border-radius: 15px;
    min-height: 200px;
    /* Hauteur minimum */
    min-width: 200px;
    /* Largeur minimum */
    max-width: 600px;
    max-height: 300px;
}


/* footer */

footer {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
    background-color: rgb(189, 189, 189);
    font-size: xx-small;
    /* Petite police d'écriture */
}


/* objets graphiques */

.rectangle_blanc {
    /* Contient le titre et des composants graphiques*/
    margin-top: 2%;
    margin-inline: auto;
    margin-bottom: 5%;
    width: 400px;
    min-height: 450px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    filter: drop-shadow(7px 7px 4px rgb(109, 108, 108));
}

.rectangle_blanc>h3 {
    /* Titre des pages */
    padding-top: 10%;
    padding-bottom: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rectangle_blanc_content {
    /* Contenu du rectangle blanc, et contient les textfields */
    min-height: 280px;
    width: 75%;
    margin-top: 5%;
    margin-inline: auto;
    /* On aligne l'espacement vertical entre les textfields */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textfield {
    /* Zone de texte pour l'utilisateur */
    border: none;
    background-color: rgb(202, 202, 202);
    color: black;
    padding: 4%;

}

.unmodifiable{
    pointer-events:none;
}
.bouton_submit {
    /* Bouton Valider */
    border: 0px;
    border-radius: 15px;
    padding: 15px;
    margin-top: 5%;
    margin-inline: 25%;
    background-color: rgba(253, 54, 54, 0.459);
    cursor: pointer;
}

.footer_rectangle_blanc {
    /* Liens en bas à gauche dans le rectangle blanc */
    text-align: left;
    margin: 5%;
    padding-bottom: 10%;
}

.footer_rectangle_blanc .redirection {
    /* Créer un compte ou Se connecter */
    text-decoration: none;
    color: black;
}

.footer_rectangle_blanc .lien_mdp_oublie {
    /* Oublie de mot de passe */
    text-decoration: none;
    color: rgb(5, 189, 189);
}

.error{
    /*Variable d'erreur*/
    font-weight: bold;
    color: red;
    text-align: center;
}
.success{
    /*Variable d'erreur*/
    font-weight: bold;
    color: green;
    text-align: center;
}

.redirection:hover{
    text-decoration: underline;
}

.crayon {
    /* ✏️ */
    position: absolute;
    right: 4%;
    /* Ecartement de 4% entre l'élément et la bordure droite du parent */
    bottom: 17%;
    /* ------------- 17% ---------------------------- du bas --------- */
    text-decoration: none;
}


/* Mot de passe oublie */

.Mdp_oublie h2,
h4 {
    /* Titre contenu que dans Mdp_oublie */
    margin: 2%;
    text-align: center;
}


/* Module de prababilité */

.Module_proba {
    /* Contenu du module */
    margin: auto;
    width: 600px;
    height: 500px;
    text-align: center;
    margin-top: 5%;
}

.Proba_valeurs table {
    /* Bloc contenant les valeurs à rentrer pour l'utilisateur */
    margin: auto;
    width: 75%;
    height: 100px;
    padding-top: 5%;
}

.Proba_valeurs td {
    /* Champs valeur 1,2,3,4 et zones de texte  */
    margin-top: 50%;
}

.Proba_valeurs td:nth-child(2n+1) {
    /* Cellules impairs des lignes (Valeur 1, 2, 3, 4) */
    text-align: right;
    padding-right: 5px;
}

.Proba_valeurs td:nth-child(2n) {
    /* Cellules pairs des lignes (zones de texte */
    text-align: left;
}

.Proba_input_text {
    /* Zones de texte */
    border: none;
    width: 50px;
}

.Proba_Resultat {
    /* Bloc contenant les <textarea> et les <p> */
    margin: auto;
    margin-top: 20%;
    margin-inline: 5%;
}

.Proba_div_TextArea {
    /* Bloc contenant les <textarea> */
    margin-inline: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Proba_TextArea {
    /* <Textarea> */
    border: none;
    resize: none;
    /* L'utilisateur ne peut pas redimentionner */
}

.Proba_p {
    /* Paragraphes sous les <textarea> */
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}


/* Module Conversion */

.Module_Conversion {
    /* Contenu du module */
    margin-inline: 10%;
    text-align: center;
    margin-top: 5%;
}

.Conversion_Input {
    /* Bloc contenant les balises selects */
    padding: 5%;
}

.input_select {
    /* Combobox décimal, hexadécimal et binaire */
    border: solid 1px black;
    width: 30%;
    border-radius: 5px;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.Conversion_reverse {
    /* ⇆ */
    border: none;
    background-color: rgb(181, 224, 253);
}

.Conversion_output {
    /* Bloc conentant les zones de textes */
    width: 60%;
    margin-inline: auto;
}


.Conversion_output .output_valeurs {
    /* Zones de texte */
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border: none;
    width: 47%;
    filter: drop-shadow(-0.5px 2px 1.5px rgb(109, 108, 108, 0.7));
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {    /* Pour retirer les flèches des input number*/
    -webkit-appearance: none;
    margin: 0;
    }

.Conversion_output input[type="submit"] {
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(253, 54, 54, 0.459);
    margin-top: 5px;
    cursor: pointer;
}


/* Module d'amortissement */

.Module_Amortissement {
    /* Contenu du module */
    text-align: center;
    margin: 5%;
}

.Amortissement_content {
    /* Contenu comprenant les entrées et les sorties, mais pas la titre comme .Module_Amortissement */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 300px;
}

.Amortissement_input {
    /* Bloc contenant une table d'entrées pour l'utilisateur */
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: auto;
    margin-bottom: auto;
}

.Amortissement_input td {
    /* Cellules de la table des entrées */
    padding-top: 5%;
    padding-bottom: 5%;
}

.Amortissement_input td:nth-child(2n+1) {
    /* Cellules impaires (Informations) */
    text-align: left;
    padding-right: 20px;
}

.Amortissement_textfiel_input {
    /* Zones de texte dans la table */
    border: none;
    width: 60%;
    min-width: 50px;
    height: 30px;
}

.Amortissement_output {
    /* Bloc contenant le titre "Estimation" et le <textarea> */
    width: 35%;
    min-width: 250px;
}

.Amortissement_TextArea {
    /* Bloc contenant <textarea> */
    border: none;
    height: 82%;
    width: 100%;
    resize: none;
}


/* Gestion des utilisateurs */

.Table_gestion_utilisateurs {
    /* Contenu de la page sous la barre de navigation */
    margin: 5%;
}

.Table_gestion_utilisateurs table {
    /* Table */
    width: 100%;
    border-collapse: collapse;
}

.Table_gestion_utilisateurs th {
    /* Entête de la table*/
    padding-top: 1%;
    padding-bottom: 1%;
}

.Table_gestion_utilisateurs>table,
.Table_gestion_utilisateurs th,
.Table_gestion_utilisateurs tr,
.Table_gestion_utilisateurs td {
    /* Table, entête, lignes, cellules */
    border: solid 1px black;
    background-color: white;
    /* Bordure fusionnées */
    text-align: center;
}

.gestion_bouton_supprimer {
    /* Bloc du bouton supprimer */
    margin-inline: 5%;
    text-align: right;
}

.Valide_suppression {
    /* Bouton supprimer */
    width: 15%;
    min-width: 100px;
    padding-bottom: 0.3%;
    text-align: center;
    font-size: large;
    border: none;
    border-radius: 7px;
    color: white;
    background-color: rgba(253, 60, 60, 0.8);
}


/* Statistiques */

.Statistiques_content {
    /* Contenu de la page sous la barre de navigation */
    margin: 5%;
    height: 400px;
}

.Statistiques_graphe {
    /* Bloc contenant les <textarea> */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
    height: 80%;
}

.Statistiques_graphe textarea {
    /* <textarea> */
    width: 35%;
    resize: none;
    border: none;
}

.Statistiques_p {
    /* Paragraphes sous les <textarea> */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
}